* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Microsoft Yahei", Kaiti, Songti;
	font-size: 16px;
	margin: 5%;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img.geo {
	width: 250px;
	height: 250px;
	float: right;
}

h1 {
	text-align: center;
	font-size: 1.8em;
	margin: 50px 0;
}

h2 {
	font-size: 1.5em;
	margin: 20px 0;
}

h3 {
	font-size: 1.2em;
	margin: 15px 0;
}

p {
	margin: 10px 0;
}

math {
	font-size: 1.2em;
}

ol {
	margin: 10px;
}

li {
	padding: 5px;
}

.formula {
	display: table;
	width: 100%;
	text-align: center;
	margin: 15px;
}

.formula p {
	margin: 10px 0;
}

span.box {
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
	background: rgba(0,0,0,0.2);
}

/* use this to number your formula */
span.num {
	display: table-cell;
	text-align: right;
	width: 20px;
}

span.right {
	float: right;
}

/* ol style (1) (2) (3)... */
ol.tree ol {
	padding: 0;
	list-style-type: none;
}

ol.tree ol > li {
	counter-increment: list_cnt;
}

ol.tree ol > li:before {
	content: "(" counter(list_cnt) ") ";
}

ol.tree ol {
	counter-reset: list_cnt;
}

/* list in two or more columns */
.block li {
	width: 250px;
	display: inline-block;
}

table {
	margin: 20px auto;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

td, th {
	padding: 5px 0 5px 15px;
}

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 36px;
	text-align: center;
	background: rgba(0,0,0,0.2);
}

#nav a {
	margin: 0 15px;
	line-height: 36px;
	font-size: 28px;
	font-weight: bold;
	color: white;
}

#prev {
	float: left;
}

#next {
	float: right;
}

/* on printer... */
@media print {
	html, body {
		margin: 0;
		padding: 0;
	}

	body {
		font-size: 10pt;
		font-family: STIGeneral, "AR PL UMing CN", times, serif;
		background: rgb(255,255,255);
	}

	#nav {
		display: none;
	}
}

/* on your mobile phone... */
@media screen and min-width: 1000px {
	#nav {
		height: 64px;
	}

	#nav a {
		line-height: 64px;
		font-size: 52px;
	}

	body {
		font-size: 28px;
	}
}

