body {
	font-family: Microsoft Yahei, Kaiti, Songti;
	padding: 5%;
}

a {
	font-size: 16px;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

img.geo {

}

h1 {
	font-family: "AR PL UMing CN", Microsoft Yahei, Kaiti, Songti;
}

p {
	font-size: 16px;
}

h1, p.formula, div.formula {
	text-align: center;
	background: rgba(255,255,255,.2);
}

span.box {
	display: inline-block;
	padding: 5px;
	border: 2px solid black;
	border-radius: 5px;
}

span.right {
	float: right;
}

li {
	font-size: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

table {
	margin: 20px;
	border-top: 2px solid;
	border-bottom: 2px solid;
}

td, th {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
}

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	text-align: center;
	background: rgba(0,0,0,0.2);
}

#nav a {
	margin: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}

#prev {
	float: left;
}

#next {
	float: right;
}

